body, html
	background url("/img/bg-leather.jpg")

body
	padding-top 60px
	color #FFF


.form-horizontal 
	margin-top 20px
	.control-label
		text-align left
		padding-left 10px
		width 100px
	.controls
		margin-left 100px

	.contentedit
		height 400px

.ninetyfivepercent
	width 95%

#alert
	display none
	